.app__testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app__testimonial-content {
    text-align: center;
    margin-bottom: 6rem;
}

.app__testimonial-content h4 {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 1rem;
}

.app__testimonial-content h1 {
    font-size: 44px;
    line-height: 65px;
    margin-bottom: 1rem;
}

.app__testimonial-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app__testimonial-testimony {
    padding: 2rem 1rem 2rem 1rem;
    background: var(--testimonial);
    position: relative;
    text-align: center;
    border-radius: 2rem;
    width: 20vw;
}

.app__testimonial-testimony img {
    width: 130px;
    margin-bottom: 1rem;
}

.app__testimonial-testimony h4 {
    text-transform: uppercase;
    margin-bottom: 1.3rem;
    font-size: 1.01rem;
}

@media screen and (max-width: 820px) {
    .app__testimonial-testimony {
        padding: 2rem 1rem;
        width: 80%;
    }

    .app__testimonial-container {
        flex-direction: column;
        gap: 2rem;
    }
}